<% provide(:title, 'Home') %>
<div id="video">
	<iframe src="http://player.vimeo.com/video/12686524?color=ffffff" width="800" height="530" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
<%= image_tag("dango_icon.png") %>

<h1>Make your own delicious list</h1>
<h2>You don't need rates and comments for finding delicous foods. Pictures is enough.</h2>
<p>Enter your email and we'll let you know when you can sign up</p>
<div class="input-append">
<%= form_for(@email_form) do |f| %>
  <%= f.text_field :email, placeholder: "Email address" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>