<footer class="footer">
		<ul class="nav nav-pills"> 
			<li class="disabled"><%=link_to raw("&copy; General Apps 2013"), '#' %></li>
			<li><%= link_to "facebook", 'http://www.facebook.com/generalappps' %></li>
			<li><%= link_to "tumblr", 'http://generalapps.tumblr.com/' %></li>
			<li><%= link_to "twitter", 'http://twitter.com/GeneralApps' %></li>
		</ul>
</footer>