<div class="navbar">
	<div class="navbar-inner">
		<%= link_to "General Apps", root_path, class: "brand" %>
		<ul class="nav">
			<li class="divider-vertical"></li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Foods Association", new_path %></li>
		</ul>
	</div>
</div>
